.Backdrop{
  width: 100%;
  height: 100%;
  position: fixed;
  z-index: 100;
  left: 0;
  top: 0;
  background: #000;
  opacity: 0;
  visibility: hidden;
  transition: visibility 0s .25s, opacity .25s linear;
}

.Backdrop.Open{
  opacity: .5;
  visibility: visible;
  transition: opacity .3s linear;
}